ul{
    list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery{
display: flex;
max-width: 1128px;
margin: 100px auto;
flex-wrap: wrap;
gap:24px;
padding: 0;

}

.gallery-image{width: 360px;height: 200px;}