ul{
    list-style: none;
}
img{display: block;}

.gallery{
display: flex;
max-width: 1128px;
margin: 100px auto;
flex-wrap: wrap;
gap:24px;
padding: 0;

}

.gallery-item{
width: 360px;
height: 200px;


align-items: center;
padding: 0;
}